* {
  box-sizing: border-box;
}

body {
	font-family: Georgia, serif
}

/* -- Main content -- */
.main {
  margin-left: 100px; /* Same as the width of the sidenav */
  font-size: 17px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: rgb(114, 114, 114);
}

/* -- Scrolling classes -- */
.main#Top {
  padding: 0px 10px 10px;
}
.main#Magazines {
  padding: 0px 10px 10px;
}
.main#Fiction {
  padding: 0px 10px 10px;
}

ul.mainlist {
  list-style-type: disc !important;
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: #FEFEFE;
  color: rgb(114, 114, 114);
}

li.mainitem {
  margin: 0 0 10px 0;
}

/* -- long text -- */
.longtext {
  padding: 10px 200px 10px 10px;
}

.headerimg {
  position: relative;
  top: 0px;
  width: 100%;
}

#headerimg {
  position: relative;
  top: 0px;
  padding: 0px;
}