* {
  box-sizing: border-box;
}

body {
	font-family: Georgia, serif
}

/* -- Main content -- */
.main {
  margin-left: 100px; /* Same as the width of the sidenav */
  font-size: 17px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: rgb(114, 114, 114);
}
.main#main {
  max-width: 60%;
}


/* -- images -- */
img.regimg {
  max-width: 300px;
  width: 40%;
}
img.rightimg {
  width: 400px;
  max-width: 30%;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
}